@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Skranji&display=swap');
/* css reset */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css variables */
:root{
    /* fonts */
    --open-sans: 'Open Sans', sans-serif;
    --skranji:'Skranji', cursive;
    /* colors */
    --white:#f6f6f6;
    --black:#303030;
    --mintcream:#F5FFFA;
    --light-green:#AAF0D1;
    --medium-green:#3EB489;
    --bright-green:#98FF98;
}
/* general */
h1, h2, h3, h4, h5, h6{
    font-family: var(--skranji);
}

body{
    color: var(--black);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: var(--open-sans);
    background-color: var(--mintcream);
}
/* body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #F5FFFA;
    opacity: 0.1;
    background-image: radial-gradient(circle at center center, #AAF0D1, #F5FFFA), repeating-radial-gradient(circle at center center, #AAF0D1, #AAF0D1, 20px, transparent 40px, transparent 20px);
    background-blend-mode: multiply;
} */
.container{
    /* background-color: var(--white); */
    background-color: white;
    height: 100%;
    margin: 0 auto;
    width: 85%;
    max-width: 1920px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
    /* border: 1px solid #ccc; */
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: inherit;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid var(--black);
    cursor: pointer;
    letter-spacing: 1px;
}
input{    
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: white;
    color: inherit;
    font-size: 1.4rem;
    padding: 10px;
    outline: none;
    border-style: solid;
}
input:focus{
    border-color:var(--medium-green) ;
}
.arrowIcon{
    /* margin-left: 10px; */
    margin-left: auto;
    font-size: 1.3rem;
    color: #666;
}
.loadingText{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 100px 0;
}
.rotate180{
    transform: rotate(180deg);
}
.noResults{
    font-size: 1.3rem;
}
/* header */
.mainTitle{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--mintcream);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--black); */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    background: url('./assets/images/green-goblin.png');
    background-position: center;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 5px solid var(--black);
}
/* controls */
.controlsForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  50px 0 100px 0;
}
.innerControlsForm{
    display: flex;
    flex-direction: column;
}
#searchInput{
    text-align: center;
    margin-bottom: 50px;
    /* font-weight: bold; */
}
#searchInput::placeholder{
    opacity: 0.4;
}
.controlsButtonsContainer{
    display: flex;
}
.controlsButtonsContainer button{
    margin-right: 5px;
    background-color: var(--mintcream);
    transition: all 0.2s ease-in-out;
}
.controlsButtonsContainer button:hover{
    background-color: var(--light-green);
}
.activeBtn{
    background-color: var(--light-green) !important;
}
.totalResults{
    font-size: 0.9rem;
    padding-top: 20px;
    font-weight:bold ;
    opacity: 0.5;
}
.layoutIcon{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.layoutIcon:hover{
    color: var(--medium-green);
}
/* countries container */
.countriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom:100px ;
    padding-top:10px ;
    padding: 0 10px;
    padding-bottom: 20px;
}
/* box */
.box{
    opacity: 0;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: white;
    /* border: 2px solid #e6e6e6; */
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    -webkit-transform-origin:bottom right;
    animation: fadeIn 0.2s ease-in-out forwards;
    margin-bottom: 20px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2) !important;
    /* animation: fadeIn 5s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
    -webkit-animation-name: fadeIn, slideIn;
    -webkit-animation-duration: 0.7s, 0.5s;
    -webkit-animation-timing-function:ease-in-out,ease-in-out ; */
    
}
.box:hover{
    transform: scale(1.03) ;
    /* box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1); */

    /* border-left: 2px solid var(--black);
    border-right: 2px solid var(--black); */
}
.flagContainer{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    min-height: 195px;
    max-height: 195px;
    border-right: 1px solid var(--black);

}
.flagContainer img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.flagOverlay{
    position: absolute;
    top: -50px;
    right: -100px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    min-height: 195px;
    max-height: 295px;
    opacity: 0.08;
    overflow: hidden !important;
    transform: rotate(20deg);
    transition: all 0.2s ease-in-out;
}
/* .box:hover .flagOverlay{
    opacity: 0.6;
} */
.flagOverlay img{
    width: 100%;
}
.countryInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 200px;
    font-size: 1.2rem;
}
.countryName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
    /* background-color: #98FF98; */
    width: 100%;
    font-size: 1.8rem;
    background-color: white;
}
.countryCapital{
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-weight: 700;

}
.countryPopulation{
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 5px;
}
.countryArea{
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 5px;
}
.countryRegion{
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 5px;
}
.countryCapitalIcon,.countryAreaIcon, .countryPopulationIcon,.countryRegionIcon{
    font-size: 1.5rem;
    margin-right:20px;
    margin-left:10px;
    color: var(--black);
}
.countryCapitalIcon{
    color: rgb(255, 204, 0);
    stroke-width: 1px;
    stroke: #666;
}
.countryPopulationIcon{
    color: darkred;
}
.countryAreaIcon{
    color: dodgerblue;
}
.countryRegionIcon{
    color: #3EB489;
}
/* spinner */
.loadingSpinnerContainer {
    width: 200px;
    height: 100%;
    padding: 80px 0;
    overflow: visible;
}
.loadingSpinnerContainer svg {
    width: 100%;
    animation: spinner 1s infinite ease-in-out;
}
/* grid styles */
.grid{
    flex-direction: row;
    gap: 20px;
    padding-top:10px ;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
}
.boxGrid{
    flex-direction: column;
    height: 500px;
    width: 300px;
    min-height: 360px;
    /* width: 30%; */
    /* border-left: 2px solid #e6e6e6; */
}
.boxGrid .flagContainer{
    /* margin: auto; */
    flex: 1;

    width: 100%;
    max-width: 300px;
    max-height: none;
    min-width: none;
    min-height: none;
    min-height: 160px;
    /* min-height: 180px; */
    border: none;
    border-bottom: 2px solid #ccc;
}
.boxGrid .countryInfo{
    flex: 1;
    margin: 10px auto;    
}
.boxGrid .countryName{
    flex: 1;
    text-align: center;

}
.flagOverlayGrid{
    display: none;
}
/* country modal */
.countryModalContainer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(2px); */
    animation: fadeIn 0.2s ease-in-out forwards;

}
.innerCountryModal{
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 85%;
    max-width: 1920px;
    height: 95%;
    opacity: 0;
    padding: 50px;
    text-align: center;
    overflow-y: scroll;
    background-color: var(--white);
    animation: fadeIn 0.2s ease-in-out forwards;
}
.closeIcon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.closeIcon:hover{
    color: var(--medium-green);
}
.modalFlagContainer{
    max-width: 300px;
    min-width: 100px;
    margin: 0 auto;
    border: 1px solid var(--black);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */

}
.modalFlagContainer img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.modalCountryName{
    margin: 50px 0;
}
.modalCountryInfoContainer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.modalCountryInfoContainer2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.modalCountryInfoContainer3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.modalCountryInfoContainer4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.modalCountryInfoContainer5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.currencyName,.timezone{
    margin-right: 15px;
    /* margin-left: auto; */
}
.coordinate{
    margin-right: 15px;
}
.languageIcon,.moneyIcon, .timezoneIcon, .coordinateIcon{
    margin-right: 15px;
    font-size: 1.5rem;
}
.coordinateIcon{
    color: crimson;
}
.timezoneIcon{
    color: blueviolet;
}
.languageIcon{
    color: salmon;
}
.moneyIcon{
    color: darkgreen;
}
.languageText,.currencyName{
    margin-right: 15px;
}
.modalCountryCapital,.modalCountryArea,.modalCountryPopulation,.modalCountryRegion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.modalCountryIcon{
    margin-right: 15px;
}
/* animations */
@keyframes fadeIn {
    100%{
        opacity: 1;
    }
}
@keyframes slideIn {
    0%{
        transform: translateX(4000px);
    }
    100%{
        transform: translateX(0);

    }
}
@keyframes spinner {
    100%{
        transform: rotate(360deg);

    }
}
/* media queries */
@media(max-width:1200px){
    .container{
        width: 100%;
    }
    .countriesContainer{
        /* overflow: hidden; */
    }
    .box{
        -webkit-transform-origin:center;
    }
}
@media(max-width:900px){
    .countryName{
            margin-right: 0px;
    }
}
@media(max-width:600px){
    .mainTitle{
        font-size: 1.9rem;
    }
    .controlsForm{
        padding:  20px 0 20px 0;
    }
    #searchInput{
        margin-bottom: 10px;
    }
    .controlsButtonsContainer{
        flex-direction: column;
    }
    .controlsButtonsContainer button{
        margin-bottom: 10px;
        margin-right: 0;
    }
    .controlsButtonsContainer .areaBtn{
        margin-bottom: 0px;
    }
}
@media(max-width:400px){
    .controlsButtonsContainer button{
        font-size: 0.7rem;
    }
    .box{
        height: 320px;
    }
    .flagContainer{
        min-height: 120px;
    }
    .flagContainer img{
        object-fit: contain;
        object-fit: cover;
    }
    .countryInfo{
        font-size: 0.9rem;
    }
    .countryInfo small{
        width: 100%;
    }
    .countryIcon{
        font-size: 1.2rem;
    }
    .countryName{
        font-size: 1.2rem;
    }
    .countryCapital,.countryArea,.countryPopulation,.countryRegion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #searchInput{
        font-size: 1rem;
    }

}
